<div class="wrapper">
  <div id="icon-menu">
    <svg id="wave-top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 141.7 141.7" style="enable-background:new 0 0 141.7 141.7;" xml:space="preserve">
        <g>
          <path d="M140.2,60.5c0.2-1,0.4-2,0.6-3.1C129,50.3,117.3,43,103.6,39.5c-8.7-2.2-17.5-4.9-26.4-1.9c-16.9,5.6-35.3,6.9-50.4,17.5
                c-1.5,1.1-3.8,1.1-5.7,1.5c-6.2,1.6-12.4,3.1-20.1,5c7,4,12.6,4.7,18.5,2.6c12.1-4.4,24.2-9,36.4-13.2c10.6-3.7,21.4-4.3,32.3-0.8
                c10.1,3.2,20.3,6.4,30.6,8.5C125.8,60.4,133.1,60.1,140.2,60.5z"/>
        </g>

        </svg>
    <svg id="wave-bot" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 141.7 141.7" style="enable-background:new 0 0 141.7 141.7;" xml:space="preserve">
        <g>
          <path d="M85.4,80C85.4,80,85.5,80,85.4,80c-12.8,0.9-24.1-0.9-35.4,2.4C36,86.5,24.1,95.9,9.3,98c-2.6,0.4-5,2.7-9.4,5.2
                c14.2,4.6,25,1.4,35.7-3.7c3.5-1.7,7.1-3.6,10.8-4.7c10.2-3.2,20.5-6.3,30.7-9.4c0.7,0,1.9-0.1,3.9-0.5c8.6-1.6,29.7,2.5,40.3,5.1
                c4.2,1,8.1,2.9,12.3,4c1.9,0.5,4.1,0.1,8.3,0.1C131,81.8,110.9,77.7,85.4,80z"/>
        </g>

        </svg>
    <strong>Menu</strong>
  </div>
  {% if page.preheader %}
    <div class="region-preheader">
    {{ page.preheader }}
    </div>{# /.preheader #}
  {% endif %}

  {% if page.header %}
    <header class="region-header">
    {{ page.header }}
    </header>{# /.header #}
  {% endif %}

  {% if page.help %}
    <div class="region-help">
    {{ page.help }}
    </div>{# /.help #}
  {% endif %}

  <main class="region-main">
    {% if page.aside|render|trim is not empty %}
      <div class="region-aside">
      {{ page.aside }}
      </div>{# /.aside#}
    {% endif %}

    {% if page.content %}
      <div class="region-content">
      {{ page.content }}
      </div>{# /.content #}
    {% endif %}
  </main>

  {% if page.list %}
    <section class="region-list">
    {{ page.list }}
    </section>{# /.list #}
  {% endif %}

  {% if page.prefooter %}
    <section class="region-prefooter">
    {{ page.prefooter }}
    </section>{# /.prefooter #}
  {% endif %}

  {% if page.footer %}
    <footer class="region-footer">
    {{ page.footer }}
    </footer>{# /.footer #}
  {% endif %}

</div>{# /.wrapper #}
